.button {
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--mix-blend-color);
  background: none;
  border: 2px solid var(--stroke-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}
