.card__icon-button {
  padding: 0;
  width: 39px;
  height: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--stroke-color);
}
