.button__save {
  padding: 15px 20px;
  margin: 0 auto 103px;
  display: flex;
  gap: 8px;
  align-items: center;
  background: var(--page-background);
}

@media (width <= 375px) {
  .button__save {
    flex-direction: column;
  }
}
