.image-label {
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  font-variation-settings: var(--text-font-weight);
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color),
    1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
  position: absolute;
  right: 25px;
  top: 27px;
}

@supports (text-stroke: 1px var(--label-stroke-color)) or
  (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}

@media (width <= 375px) {
  .image-label {
    right: 10px;
    top: 24px;
  }
}
