.page {
  font-variation-settings: var(--text-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color);
  background: repeating-linear-gradient(
      90deg,
      var(--background-color),
      var(--background-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start),
      var(--background-color-end) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--background-color-start) 0.01%,
      var(--background-color-end)
    );
  background-attachment: fixed;
  background-size: cover;
}
